<div id="page-top"></div>
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
  <div class="w-100">
    <h1 class="mb-0">
      <!-- Use different colors for first and last names -->
      <span class="text-primary">{{ page.first_name }}</span>
      {{ page.last_name }}
    </h1>
    <div class="subheading mb-4">
      {{ page.phone }} < 
      <a href="mailto:{{ page.email }}"> > {{ page.email }}</a>
    </div>

    {% for item in page.intro %}
    <p class="lead mb-4">{{ item }}</p>
    {% endfor %}

    <div class="social-icons">
      {% for item in page.social %}
      <a href="{{ item.link }}" target="_blank">
        <i class="fab fa-{{item.icon}}"></i>
      </a>
      {% endfor %}
    </div>
    
  </div>
</section>