<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="{{ page.title }}">
  <div class="w-100">
    <h2 class="mb-2">{{ page.title | capitalize }}</h2>

    <div class="row">
      {% for list in page.lists %}
      <div class="col-sm">
        <div class="subheading mb-3">{{ list.title }}</div>
        {% for item in list.items %}
        <p class="mb-0"> • {{ item.name }}</p>
        {% if item.description %}
        <p class="mb-3">{{ item.description }}</p>
        {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
      <!-- for hobbies -->
      {% if page.icon %}
      <div class="col-sm text-center p-lg-5">
        <figure class="figure">
          <img src="{{ page.icon }}" class="figure-img img-fluid" alt="Lynn's Art" style="border-radius: 25px;"">
          <figcaption >{{ page.icon_caption }}</figcaption>
        </figure>
      </div>
      {% endif %}
    </div>
  </div>

</section>
