<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% include common.html %}

    <title>{{ site.title }}</title>

  </head>
  <body>
    {% include navigation.html %}
    <div class="container-fluid p-0">
      {% include resume_about.html %}
      {% for section in site.resume %}
        <hr class="m-0">
        {{ section }}
      {% endfor %}
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="assets/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="assets/resume.min.js"></script>
  </body>
</html>